:root {
    --primary-color: #f5f5dc;
    --secondary-color: #8b4513;
    --primary-font-color: #333333;
    --placeholder-color: rgba(144, 144, 144, 0.3);
}

body::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: url('assets/toilet.jpg') no-repeat;
    background-size: cover;
    filter: blur(4px);
    z-index: -1;
}

body {
    margin: 0;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

a {
    color: black;
}

input {
    display: block;
    width: 96%;
    height: 35px;
    border-top: none;
    border-left: none;
    border-right: none;
    border-radius: 4px;
    padding-left: 3%;
}

/* Chrome, Edge, and Safari */
input::-webkit-input-placeholder {
    color: var(--placeholder-color);
}

/* Firefox */
input::-moz-placeholder {
    color: var(--placeholder-color);
    /*opacity: 0.3; !* Necessary because Firefox lowers the opacity of placeholders by default *!*/
}

/* Internet Explorer */
input:-ms-input-placeholder {
    color: var(--placeholder-color);
}

/* Standard syntax for modern browsers */
input::placeholder {
    color: var(--placeholder-color);
}


input:focus {
    outline: none;
    border-bottom: 2px solid var(--secondary-color);
}


header {
    padding: 2rem 0;
    display: flex;
    justify-content: center;
}

header .header-wrapper {
    display: flex;
    width: 90%;
    padding: 0 10px;
    justify-content: space-between;
}

header .logo {
    display: flex;
}

header .logo .letter-box {
    width: 2rem;
    height: 2rem;
    font-size: 1rem;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-right: -0.5rem;
    transform: rotate(-10deg);
    text-decoration: none;
}

code {
    font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

a {
    text-decoration: none;
}

@font-face {
    font-family: '56-font';
    src: url('assets/5-font.otf');
    font-weight: normal;
    font-style: normal;
}

/*letter box BEGIN*/
.letter-box {
    text-decoration: none;
    cursor: pointer;
    border-radius: 4px;
    background-color: var(--primary-color);
    color: var(--primary-font-color) !important;
    border: 2px solid var(--secondary-color);
    box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.3);
    text-align: center;
    font-weight: bold;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 45px;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen', 'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue', sans-serif;
}

hr {
    color: #5b0f0f4d;
}

.letter-box a {
    text-decoration: none;
    color: var(--primary-font-color) !important;
}


.letter-box:hover {
    background-color: rgba(243, 243, 236, 0.76);
}

.letter-box.width-normal-size {
    width: 73px;
}

.letter-box.height-normal-size {
    height: 73px;
}

.letter-box.width-small-size {
    width: 35px;
    font-size: 15px;
}

.letter-box.height-small-size {
    height: 35px;
    font-size: 15px;
}

.letter-box.height-small-size a {
    font-size: 15px;
}

.letter-box.width-block {
    width: 99%;
}

.letter-box.for-placing {
    background-color: #ffffff;
    border: 2px dashed var(--secondary-color);
    box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.1);
}

.letter-box.disabled {
    background-color: #808080cc;
    border-color: #ffffffba;
    color: #00000061;
    cursor: no-drop;
}

.letter-box.danger {
    border: 2px dashed #f00;
    background-color: rgba(255, 81, 81, 0.27);
    color: white;;
}

/*letter box END*/

/*notebook/scoreboard BEGIN*/
.notebook {
    word-break: break-word;
    font-size: 15px;
    height: 300px;
    background-color: var(--primary-color);
    box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.3);
    display: flex;
    flex-wrap: wrap;
    position: relative;
    border-radius: 20px;
    max-width: 600px;
}

.notebook .page-rows {
    position: absolute;
    width: 100%;
}

.notebook hr:first-of-type {
    margin-top: 15px;
}

.notebook hr {
    margin-bottom: 17px;
    color: #5b0f0f4d;
}

.notebook table {
    border-collapse: collapse;
    width: 100%;
    text-align: left;
}

td, th {
    padding-left: 8px; /* Adds padding inside each cell for better readability */
}

.notebook td:first-child, th:first-child {
    border-right: 2px solid #000; /* Adds a border to the right of each cell in the first column */
}

.notebook .spiral {
    position: absolute;
    left: 20px;
    top: 0;
    bottom: 0;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.notebook .spiral li {
    width: 10px;
    height: 10px;
    border-radius: 50%;
    background-color: var(--secondary-color);
}

.notebook .page {
    flex: 1;
    padding: 30px 20px;
    background-color: var(--primary-color);
    color: var(--primary-font-color);
    overflow-y: auto;
    height: 270px;
}

.notebook .page-header {
    font-weight: bold;
    position: absolute;
    margin-top: -2px;
    background-color: #8a8a89;
    border-radius: 0 0 10px 10px;
    color: white;
    padding: 2px 10px;
    text-align: center;
    border-bottom: 2px dashed white;
    border-left: 2px dashed white;
    border-right: 2px dashed white;
    left: 4%;
    box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.3);
}

.notebook .page-header.opponent {
    left: 55%;
}

.notebook table {
    font-family: '56-font', sans-serif;
}

.notebook .left-page {
    border-right: 2px dashed var(--secondary-color);
    border-radius: 20px 0 0 20px;
}

.notebook .right-page {
    border-left: 2px dashed var(--secondary-color);
    border-radius: 0 20px 20px 0;
}

/*notebook/scoreboard END*/

/*modal START*/
.modal.modal-wrapper {
    z-index: 999999;
    position: fixed;
    inset: 0;
    background-color: rgba(0, 0, 0, 0.5);
}

.modal.modal-content {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    padding: 0 20px 20px 20px;
    width: 80%;
    background-color: var(--primary-color);
    border-radius: 4px;
    max-width: 600px;
}

.modal.modal-header {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.modal hr {
    margin: 0 0 10px;
}

.modal.modal-body {
    position: relative;
    overflow: hidden;
    width: 100%;
    height: 400px;
}

.modal.modal-footer {
    display: flex;
    gap: 20px;
    padding-top: 10px;
    justify-content: space-around;
}

/*modal END*/

/*hamburger menu START*/
.menu {
    position: fixed;
    padding: 20px;
    box-shadow: -2px 0 5px rgba(0, 0, 0, 0.5);
    display: flex;
    flex-direction: column;
    width: 150px;
    rotate: -10deg;
    right: 56px;
    z-index: 999999;
    top: 76px;
    background-color: #a28e7c;
    transition: opacity 300ms, transform 300ms;
    border-radius: 3px;
}

.menu-wrapper {
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
}

.menu ul {
    list-style: none;
    margin: 0;
    padding: 0;
}

.menu li {
    padding: 10px 10px;
}

.menu li:hover {
    background-color: #745c4cad;
    border-radius: 5px;

}

.menu a {
    text-decoration: none;
    color: #ffffff;
    font-size: 18px;
    font-weight: bold;
}

.hamburger-icon {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    width: 30px;
    height: 25px;
    background: transparent;
    border: none;
    cursor: pointer;
    padding: 0;
    box-sizing: border-box;
    z-index: 1001;
}

.hamburger-icon div {
    width: 30px;
    height: 3px;
    background: #3d312b;
    border-radius: 10px;
    transform-origin: 1px;
    position: relative;
    transition: opacity 300ms, transform 300ms;
}
/*hamburger menu END*/

/*loading spinner BEGIN*/
.loading-spinner   {
    animation: spin 1.5s linear infinite;
    height: 70%;
    width: 70%;
}

@keyframes spin {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
}
/*loading spinner END*/

.game-loading-wrapper {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 400px;
    width: 100px;
}